<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <img src ="/assets/img/burger.png" class="rounded" alt="burger" height="100" width="100">
        </div>
        <h1 class="display-4 text-center mt-2">EAT DA BURGERS</h1>
        <hr class="my-4">
        <form class="create-form" action="/" method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Add a burger you would like to eat" name="burger_name">
                <button class="btn btn-outline-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="alert alert-success" role="alert">Burgers that are ready to eat!</div>
            {{#each burgers}}
                {{#unless devoured}}
                    <form action="/{{id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="false">
                        <button class="btn btn-outline-dark" disabled>{{id}}. {{burger_name}}</button>
                        <button type="submit" class="btn btn-outline-success">Devour it!</button>
                    </form>
                    <hr class="my-2">
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-6">
            <div class="alert alert-secondary" role="alert">Burgers that have been devoured!</div>
            {{#each burgers}}
                {{#if devoured}}
                    <button type="button" class="btn btn-secondary mt-2 mr-2" disabled>{{id}}. {{burger_name}}</button>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
